<!DOCTYPE html>
<html>
  <head>
    <title>HangryGf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta tag for LinkedIn featured image -->
    <meta property='og:image' content='https://i.ibb.co/0G85Lqz/hangrygf-OG.jpg'/>
    <%= javascript_pack_tag 'index' %>
    <% if Rails.env.production? %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
